/* .bookList{
    /* display: flex;
    background-color: blueviolet;
    flex-wrap: wrap;
    height: max-content;
    width: 100%;

} */ 

/* .books_section .book{
    border: 2px solid red;
    
} */

.bookList{
    background-color: aqua;
    /* width: 100%; */
    /* margin-right: -200px; */
    
}
.bookList h1{
   background-color: rgb(19, 76, 184);
   color: black;
   text-align: center;
   margin: 0;
   /* margin-right: -200px; */
}
.Avvikutti{
    display: flex;
    justify-content: center;
    color: rgb(34,33,33);
    border: 2px solid black;
    padding: 20px 50px;
    margin:0px 300px;
    background-color: white;
    margin-top: 10px;
    border-radius: 60px;
    width: 600px;
}
.arrangement{
    width: 600px;
    height: 300px;
    margin: 10px;
    border-radius: 60px;
    margin-right: -60px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.images img{
    width: 250px;
    height: 250px;
    /* border-radius: 50%; */
    margin-left:-20px;
}
.twinkle {
    font-size: 20px;
    margin-left: 30px;
}
.twinkle button{
    border: none;
    /* padding: 0px 30px; */
    background-color: rgb(89,0,255);
    padding: 10px;
    border-radius: 2px solid black;
    color: ghostwhite;
    border-radius: 10px;
    /* margin-top: 10px; */
}